<!DOCTYPE html>
<html ng-app="SpeedRead">

<head>
  <title>speedread</title>
  <link rel="stylesheet" href="style.css">
</head>

<body ng-controller="ReaderCtrl">
  <div id="reader">
    <div id="word"></div>
  </div>

  <input ng-model="wpm" type="number">
  <button ng-click="start()">Start</button>

  <br />
  <textarea ng-model="textToRead" type="text"> </textarea>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
  <script src="2script.js"></script>

</body>

</html>
